# Session 3 - Exercises

## Exercise 1 - `open` all things

1. Get the type of file `f`. Is this something we case use to get the contents directly?
1. Call `f.read()` once. What do you get as a result?
1. Call `f.read()` again. What do you get as a result? Were you expecting this?!
1. Try reading with `f.readlines()` instead. What differs from the result in step \#2?

In [1]:
# uncomment this
f = open('data/spotify_2.csv', 'r')

In [2]:
### BEGIN SOLUTION
#2.
f.read()

"title;artist;top genre;year released;added;bpm;nrgy;dnce;dB;live;val;dur;acous;spch;pop;top year;artist type\nSTARSTRUKK (feat. Katy Perry);3OH!3;dance pop;2009;2022â€‘02â€‘17;140;81;61;-6;23;23;203;0;6;70;2010;Duo\nMy First Kiss (feat. Ke$ha);3OH!3;dance pop;2010;2022â€‘02â€‘17;138;89;68;-4;36;83;192;1;8;68;2010;Duo\nI Need A Dollar;Aloe Blacc;pop soul;2010;2022â€‘02â€‘17;95;48;84;-7;9;96;243;20;3;72;2010;Solo\nAirplanes (feat. Hayley Williams of Paramore);B.o.B;atl hip hop;2010;2022â€‘02â€‘17;93;87;66;-4;4;38;180;11;12;80;2010;Solo\nNothin' on You (feat. Bruno Mars);B.o.B;atl hip hop;2010;2022â€‘02â€‘17;104;85;69;-6;9;74;268;39;5;79;2010;Solo\nMagic (feat. Rivers Cuomo);B.o.B;atl hip hop;2010;2022â€‘02â€‘17;82;93;55;-4;35;79;196;1;34;71;2010;Solo\nThe Time (Dirty Bit);Black Eyed Peas;dance pop;2010;2022â€‘02â€‘17;128;81;82;-8;60;44;308;7;7;75;2010;Band/Group\nImma Be;Black Eyed Peas;dance pop;2009;2022â€‘02â€‘17;92;52;60;-7;31;41;258;18;37;71;2010;Band/Group\nTalking to the Moon;Bruno Mars;dance pop;2010;2022â€‘02â€‘17;146;59;50;-5;11;8;218;51;3;87;2010;Solo\nJust the Way You Are;Bruno Mars;dance pop;2010;2022â€‘02â€‘17;109;84;64;-5;6;42;221;1;4;86;2010;Solo\n"

In [3]:
#3.
f.read()

''

In [4]:
f.readlines()

[]

### Exercise 2 - `open_file` function

As we've seen, the way we open files in python built-in functions is pretty much standardized: we open the file, read its contents into a list of lines, and close the file afterwards. In the "Functions" unit, we saw that each code that is reusable for the future should be encapsulated in the future. So, try to:
  1. Define the `open_file` function
  2. The function should receive a file path as an argument and return a list of strings as content
  3. Make sure you *automatically* close the file after usage
  4. Bonus. Add the encoding and access mode (used in `open()`) as optional parameters of `open_file`

# <span style="color:red"> Não consegui o encoding pq nao sei qual usar </span>

In [15]:
### BEGIN SOLUTION
def open_file(path , mode='r'):
    f = open(path,  mode)

    # create a list of lines
    content = f.readlines()

    # close the connection
    f.close()
    
    return content

In [16]:
open_file('data/spotify_2.csv')

['title;artist;top genre;year released;added;bpm;nrgy;dnce;dB;live;val;dur;acous;spch;pop;top year;artist type\n',
 'STARSTRUKK (feat. Katy Perry);3OH!3;dance pop;2009;2022â€‘02â€‘17;140;81;61;-6;23;23;203;0;6;70;2010;Duo\n',
 'My First Kiss (feat. Ke$ha);3OH!3;dance pop;2010;2022â€‘02â€‘17;138;89;68;-4;36;83;192;1;8;68;2010;Duo\n',
 'I Need A Dollar;Aloe Blacc;pop soul;2010;2022â€‘02â€‘17;95;48;84;-7;9;96;243;20;3;72;2010;Solo\n',
 'Airplanes (feat. Hayley Williams of Paramore);B.o.B;atl hip hop;2010;2022â€‘02â€‘17;93;87;66;-4;4;38;180;11;12;80;2010;Solo\n',
 "Nothin' on You (feat. Bruno Mars);B.o.B;atl hip hop;2010;2022â€‘02â€‘17;104;85;69;-6;9;74;268;39;5;79;2010;Solo\n",
 'Magic (feat. Rivers Cuomo);B.o.B;atl hip hop;2010;2022â€‘02â€‘17;82;93;55;-4;35;79;196;1;34;71;2010;Solo\n',
 'The Time (Dirty Bit);Black Eyed Peas;dance pop;2010;2022â€‘02â€‘17;128;81;82;-8;60;44;308;7;7;75;2010;Band/Group\n',
 'Imma Be;Black Eyed Peas;dance pop;2009;2022â€‘02â€‘17;92;52;60;-7;31;41;258;18;37;71;2010;Band/Group\n',
 'Talking to the Moon;Bruno Mars;dance pop;2010;2022â€‘02â€‘17;146;59;50;-5;11;8;218;51;3;87;2010;Solo\n',
 'Just the Way You Are;Bruno Mars;dance pop;2010;2022â€‘02â€‘17;109;84;64;-5;6;42;221;1;4;86;2010;Solo\n']

## Assessment - Data Pre-processing

Based on our SportsDB database, calculate the following new columns:
- Split the NAME column into FIRST_NAME and LAST_NAME columns
- Calculate a boolean column if a player plays in multiple positions (e.g. C is False, but SF/SG is True)
- Calculate a PHYSICAL STATS column that sums SPEED and STRENGTH
- Bonus: Calculate each player's age

In [18]:
import sqlite3
import pandas as pd

In [19]:
# establish a connection. creates database if doesn't exist
con = sqlite3.connect('data/SportsDB/SportsDB.db')

# get the cursor
cur = con.cursor()

In [20]:
players_df = pd.read_csv('data/SportsDB/players.csv')
players_df.head()

,NAME,DOB,NATIONALITY,POSITION,SPEED,STRENGTH,RETIRED
0,Nikola Jokic,19-02-1995,SRB,C,63,93,False
1,Bruce Bowen,14-06-1971,USA,SF/SG,83,85,True
2,Giannis Antetokounmpo,06-12-1994,GRC,PF/C,90,94,False
3,Dirk Nowitzki,19-06-1978,DEU,PF/C,65,82,True
4,Manu Ginobili,28-07-1977,ARG,SG/SF,92,80,True

In [37]:
#1 Split the NAME column into FIRST_NAME and LAST_NAME columns
players_df[['FIRST_NAME','LAST_NAME']] = players_df["NAME"].str.split(" ", 1, expand=True)

C:\Users\f004658\AppData\Local\Temp\ipykernel_1364\3724715770.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  players_df[['FIRST_NAME','LAST_NAME']] = players_df["NAME"].str.split(" ", 1, expand=True)

In [48]:
#2 Calculate a boolean column if a player plays in multiple positions (e.g. C is False, but SF/SG is True)
players_df['FLAG_MULTIPLE_POS'] = players_df['POSITION'].str.contains(pat='/')

In [50]:
#3 Calculate a PHYSICAL STATS column that sums SPEED and STRENGTH
players_df['PHYSICAL_STATS'] = players_df['SPEED'] + players_df['STRENGTH']

In [52]:
# 4 Bonus: Calculate each player's age
players_df["age"] = players_df["dob_datetime"].apply(lambda x : (pd.datetime.now().year - x.year))

In [76]:
players_df.head()

,NAME,DOB,NATIONALITY,POSITION,SPEED,STRENGTH,RETIRED,FIRST_NAME,LAST_NAME,FLAG_MULTIPLE_POS,PHYSICAL_STATS,dob_datetime,age
0,Nikola Jokic,19-02-1995,SRB,C,63,93,False,Nikola,Jokic,False,156,1995-02-19,28
1,Bruce Bowen,14-06-1971,USA,SF/SG,83,85,True,Bruce,Bowen,True,168,1971-06-14,52
2,Giannis Antetokounmpo,06-12-1994,GRC,PF/C,90,94,False,Giannis,Antetokounmpo,True,184,1994-12-06,29
3,Dirk Nowitzki,19-06-1978,DEU,PF/C,65,82,True,Dirk,Nowitzki,True,147,1978-06-19,45
4,Manu Ginobili,28-07-1977,ARG,SG/SF,92,80,True,Manu,Ginobili,True,172,1977-07-28,46

## Session 2 - Databases

*Make sure you run the Learning Notebook 03-databases first to guarantee the SportsDb database is created.*

Using `pandas` and `sqlite3`, perform the following Data Analysis in our dataset:
- What is the strongest player? What about the fastest?
- Get the retired players born outside the USA
- What is the average speed and strength?
- What is the max speed and strength per RETIRED status?
- Add the `new_players` DataFrame (code below) to our Database. Do not override the data we already have. Check insert operation was correct.

In [78]:
import sqlite3
import pandas as pd

In [79]:
# establish a connection. creates database if doesn't exist
con = sqlite3.connect('data/SportsDB/SportsDB.db')

# get the cursor
cur = con.cursor()

In [90]:
# new players dataframe
new_players = pd.DataFrame.from_dict(
    {'NAME': ['Tony Parker'],
     'DOB': ['17-05-1982'],
     'NATIONALITY': ['FRA'],
     'POSITION': ['PG'],
     'SPEED': [99],
     'STRENGTH': [50],
     'RETIRED': [1]}
)

In [84]:
pd.read_sql('''
            SELECT *
            FROM  players
            
            ''', con=con)

,ID,NAME,DOB,NATIONALITY,POSITION,SPEED,STRENGTH,RETIRED
0,1,Nikola Jokic,19-02-1995,SRB,C,63,93,0
1,2,Bruce Bowen,14-06-1971,USA,SF/SG,83,85,1
2,3,Giannis Antetokounmpo,06-12-1994,GRC,PF/C,90,94,0
3,4,Dirk Nowitzki,19-06-1978,DEU,PF/C,65,82,1
4,5,Manu Ginobili,28-07-1977,ARG,SG/SF,92,80,1

In [85]:
### What is the strongest player? 
pd.read_sql('''
            SELECT name, max(strength) as max_strength
            FROM  players
            group by 1
            ORDER BY max_strength DESC
            limit 1
            
            ''', con=con)

                    NAME  max_strength
0  Giannis Antetokounmpo            94

In [86]:
###  What about the fastest?
pd.read_sql('''
            SELECT name, max(speed) as max_speed
            FROM  players
            group by 1
            ORDER BY max_speed DESC
            limit 1
            
            ''', con=con)

            NAME  max_speed
0  Manu Ginobili         92

In [87]:
#Get the retired players born outside the USA
pd.read_sql('''
            SELECT *
            FROM  players
            where retired = 1 and nationality not in ('USA')            
            ''', con=con)

,ID,NAME,DOB,NATIONALITY,POSITION,SPEED,STRENGTH,RETIRED
0,4,Dirk Nowitzki,19-06-1978,DEU,PF/C,65,82,1
1,5,Manu Ginobili,28-07-1977,ARG,SG/SF,92,80,1

In [88]:
#What is the average speed and strength?
pd.read_sql('''
            SELECT avg(speed) as avg_speed, avg(strength) as avg_strenght
            FROM  players       
            ''', con=con)

   avg_speed  avg_strenght
0       78.6          86.8

In [ ]:
# What is the max speed and strength per RETIRED status?

In [89]:
pd.read_sql('''
            SELECT retired, avg(speed) as avg_speed, avg(strength) as avg_strenght
            FROM  players 
            group by 1
            ''', con=con)

   RETIRED  avg_speed  avg_strenght
0        0       76.5     93.500000
1        1       80.0     82.333333

In [91]:
#Add the new_players DataFrame (code below) to our Database. Do not override the data we already have. Check insert operation was correct.
new_players.to_sql("players", con=con, if_exists='append', index=False)
cur.execute("SELECT * FROM players").fetchall()

[(1, 'Nikola Jokic', '19-02-1995', 'SRB', 'C', 63, 93, 0),
 (2, 'Bruce Bowen', '14-06-1971', 'USA', 'SF/SG', 83, 85, 1),
 (3, 'Giannis Antetokounmpo', '06-12-1994', 'GRC', 'PF/C', 90, 94, 0),
 (4, 'Dirk Nowitzki', '19-06-1978', 'DEU', 'PF/C', 65, 82, 1),
 (5, 'Manu Ginobili', '28-07-1977', 'ARG', 'SG/SF', 92, 80, 1),
 (6, 'Tony Parker', '17-05-1982', 'FRA', 'PG', 99, 50, 1)]