# Session 3 - Exercises

In [15]:
import pandas as pd

## Unit 1 - Files

## Exercise 1 - `open` all things

1. Get the type of file `f`. Is this something we case use to get the contents directly?
1. Call `f.read()` once. What do you get as a result?
1. Call `f.read()` again. What do you get as a result? Were you expecting this?!
1. Try reading with `f.readlines()` instead. What differs from the result in step \#2?

In [1]:
# uncomment this
f = open('data/spotify_2.csv', 'r')

In [2]:
### BEGIN SOLUTION
# 1. type of f
type(f)

_io.TextIOWrapper

In [3]:
# 2. call f.read() once
f.read()

"title;artist;top genre;year released;added;bpm;nrgy;dnce;dB;live;val;dur;acous;spch;pop;top year;artist type\nSTARSTRUKK (feat. Katy Perry);3OH!3;dance pop;2009;2022‑02‑17;140;81;61;-6;23;23;203;0;6;70;2010;Duo\nMy First Kiss (feat. Ke$ha);3OH!3;dance pop;2010;2022‑02‑17;138;89;68;-4;36;83;192;1;8;68;2010;Duo\nI Need A Dollar;Aloe Blacc;pop soul;2010;2022‑02‑17;95;48;84;-7;9;96;243;20;3;72;2010;Solo\nAirplanes (feat. Hayley Williams of Paramore);B.o.B;atl hip hop;2010;2022‑02‑17;93;87;66;-4;4;38;180;11;12;80;2010;Solo\nNothin' on You (feat. Bruno Mars);B.o.B;atl hip hop;2010;2022‑02‑17;104;85;69;-6;9;74;268;39;5;79;2010;Solo\nMagic (feat. Rivers Cuomo);B.o.B;atl hip hop;2010;2022‑02‑17;82;93;55;-4;35;79;196;1;34;71;2010;Solo\nThe Time (Dirty Bit);Black Eyed Peas;dance pop;2010;2022‑02‑17;128;81;82;-8;60;44;308;7;7;75;2010;Band/Group\nImma Be;Black Eyed Peas;dance pop;2009;2022‑02‑17;92;52;60;-7;31;41;258;18;37;71;2010;Band/Group\nTalking to the Moon;Bruno Mars;dance pop;2010;2022‑02‑17;146;59;50;-5;11;8;218;51;3;87;2010;Solo\nJust the Way You Are;Bruno Mars;dance pop;2010;2022‑02‑17;109;84;64;-5;6;42;221;1;4;86;2010;Solo\n"

In [4]:
# 3. call f.read() again
f.read()

''

In [5]:
# 4. read with .readlines()
f = open('data/spotify_2.csv', 'r')
f.readlines()

['title;artist;top genre;year released;added;bpm;nrgy;dnce;dB;live;val;dur;acous;spch;pop;top year;artist type\n',
 'STARSTRUKK (feat. Katy Perry);3OH!3;dance pop;2009;2022‑02‑17;140;81;61;-6;23;23;203;0;6;70;2010;Duo\n',
 'My First Kiss (feat. Ke$ha);3OH!3;dance pop;2010;2022‑02‑17;138;89;68;-4;36;83;192;1;8;68;2010;Duo\n',
 'I Need A Dollar;Aloe Blacc;pop soul;2010;2022‑02‑17;95;48;84;-7;9;96;243;20;3;72;2010;Solo\n',
 'Airplanes (feat. Hayley Williams of Paramore);B.o.B;atl hip hop;2010;2022‑02‑17;93;87;66;-4;4;38;180;11;12;80;2010;Solo\n',
 "Nothin' on You (feat. Bruno Mars);B.o.B;atl hip hop;2010;2022‑02‑17;104;85;69;-6;9;74;268;39;5;79;2010;Solo\n",
 'Magic (feat. Rivers Cuomo);B.o.B;atl hip hop;2010;2022‑02‑17;82;93;55;-4;35;79;196;1;34;71;2010;Solo\n',
 'The Time (Dirty Bit);Black Eyed Peas;dance pop;2010;2022‑02‑17;128;81;82;-8;60;44;308;7;7;75;2010;Band/Group\n',
 'Imma Be;Black Eyed Peas;dance pop;2009;2022‑02‑17;92;52;60;-7;31;41;258;18;37;71;2010;Band/Group\n',
 'Talking to the Moon;Bruno Mars;dance pop;2010;2022‑02‑17;146;59;50;-5;11;8;218;51;3;87;2010;Solo\n',
 'Just the Way You Are;Bruno Mars;dance pop;2010;2022‑02‑17;109;84;64;-5;6;42;221;1;4;86;2010;Solo\n']

### Exercise 2 - Master Slicer

1. What is the difference between indexing and slicing?
1. From the `lines_list`, get:
    1. The column names (i.e. header)
    1. The first 3 rows (without the header)
    1. The rows with pair index (without the header)
    1. The last 4 rows

In [6]:
lines_list = open('data/spotify_2.csv', 'r').readlines()

In [7]:
### BEGIN SOLUTION
# 1.
# Indexing gets you the value by an exact match; sclicing returns a range of results

In [8]:
# 2.1 column names
lines_list[0]

'title;artist;top genre;year released;added;bpm;nrgy;dnce;dB;live;val;dur;acous;spch;pop;top year;artist type\n'

In [9]:
# 2.2 first 3 rows (withou the header)
lines_list[1:4]

['STARSTRUKK (feat. Katy Perry);3OH!3;dance pop;2009;2022‑02‑17;140;81;61;-6;23;23;203;0;6;70;2010;Duo\n',
 'My First Kiss (feat. Ke$ha);3OH!3;dance pop;2010;2022‑02‑17;138;89;68;-4;36;83;192;1;8;68;2010;Duo\n',
 'I Need A Dollar;Aloe Blacc;pop soul;2010;2022‑02‑17;95;48;84;-7;9;96;243;20;3;72;2010;Solo\n']

In [10]:
# 2.3 rows with pair index
lines_list[1::2]

['STARSTRUKK (feat. Katy Perry);3OH!3;dance pop;2009;2022‑02‑17;140;81;61;-6;23;23;203;0;6;70;2010;Duo\n',
 'I Need A Dollar;Aloe Blacc;pop soul;2010;2022‑02‑17;95;48;84;-7;9;96;243;20;3;72;2010;Solo\n',
 "Nothin' on You (feat. Bruno Mars);B.o.B;atl hip hop;2010;2022‑02‑17;104;85;69;-6;9;74;268;39;5;79;2010;Solo\n",
 'The Time (Dirty Bit);Black Eyed Peas;dance pop;2010;2022‑02‑17;128;81;82;-8;60;44;308;7;7;75;2010;Band/Group\n',
 'Talking to the Moon;Bruno Mars;dance pop;2010;2022‑02‑17;146;59;50;-5;11;8;218;51;3;87;2010;Solo\n']

In [11]:
# 2.4 last 4 rows
lines_list[-4:]

['The Time (Dirty Bit);Black Eyed Peas;dance pop;2010;2022‑02‑17;128;81;82;-8;60;44;308;7;7;75;2010;Band/Group\n',
 'Imma Be;Black Eyed Peas;dance pop;2009;2022‑02‑17;92;52;60;-7;31;41;258;18;37;71;2010;Band/Group\n',
 'Talking to the Moon;Bruno Mars;dance pop;2010;2022‑02‑17;146;59;50;-5;11;8;218;51;3;87;2010;Solo\n',
 'Just the Way You Are;Bruno Mars;dance pop;2010;2022‑02‑17;109;84;64;-5;6;42;221;1;4;86;2010;Solo\n']

### Exercise 3 - `open_file` function

As we've seen, the way we open files in python built-in functions is pretty much standardized: we open the file, read its contents into a list of lines, and close the file afterwards. In the "Functions" unit, we saw that each code that is reusable for the future should be encapsulated in the future. So, try to:
  1. Define the `open_file` function
  2. The function should receive a file path as an argument and return a list of strings as content
  3. Make sure you *automatically* close the file after usage
  4. Bonus. Add the encoding and access mode (used in `open()`) as optional parameters of `open_file`

In [12]:
def open_file(file_path: str, encoding: str = None, access_mode: str = 'r') -> list[str]:
    with open(file_path, mode=access_mode, encoding=encoding) as f:
        lines = f.readlines()
    return lines

In [13]:
open_file('data/spotify_2.csv', access_mode='r')

['title;artist;top genre;year released;added;bpm;nrgy;dnce;dB;live;val;dur;acous;spch;pop;top year;artist type\n',
 'STARSTRUKK (feat. Katy Perry);3OH!3;dance pop;2009;2022‑02‑17;140;81;61;-6;23;23;203;0;6;70;2010;Duo\n',
 'My First Kiss (feat. Ke$ha);3OH!3;dance pop;2010;2022‑02‑17;138;89;68;-4;36;83;192;1;8;68;2010;Duo\n',
 'I Need A Dollar;Aloe Blacc;pop soul;2010;2022‑02‑17;95;48;84;-7;9;96;243;20;3;72;2010;Solo\n',
 'Airplanes (feat. Hayley Williams of Paramore);B.o.B;atl hip hop;2010;2022‑02‑17;93;87;66;-4;4;38;180;11;12;80;2010;Solo\n',
 "Nothin' on You (feat. Bruno Mars);B.o.B;atl hip hop;2010;2022‑02‑17;104;85;69;-6;9;74;268;39;5;79;2010;Solo\n",
 'Magic (feat. Rivers Cuomo);B.o.B;atl hip hop;2010;2022‑02‑17;82;93;55;-4;35;79;196;1;34;71;2010;Solo\n',
 'The Time (Dirty Bit);Black Eyed Peas;dance pop;2010;2022‑02‑17;128;81;82;-8;60;44;308;7;7;75;2010;Band/Group\n',
 'Imma Be;Black Eyed Peas;dance pop;2009;2022‑02‑17;92;52;60;-7;31;41;258;18;37;71;2010;Band/Group\n',
 'Talking to the Moon;Bruno Mars;dance pop;2010;2022‑02‑17;146;59;50;-5;11;8;218;51;3;87;2010;Solo\n',
 'Just the Way You Are;Bruno Mars;dance pop;2010;2022‑02‑17;109;84;64;-5;6;42;221;1;4;86;2010;Solo\n']

## Session 2 - Databases

*Make sure you run the Learning Notebook first to guarantee the SportsDb database is created.*

Using `pandas` and `sqlite3`, perform the following Data Analysis in our dataset:
- What is the strongest player? What about the fastest?
- Get the retired players born outside the USA
- What is the average speed and strength?
- What is the max speed and strength per RETIRED status?
- Add the `new_players` DataFrame (code below) to our Database. Do not override the data we already have. Check insert operation was correct.

In [16]:
# new players dataframe
new_players = pd.DataFrame.from_dict({'NAME': ['Tony Parker'], 'DOB': ['17-05-1982'], 'NATIONALITY': ['FRA'], 'POSITION': ['PG'], 'SPEED': [99], 'STRENGTH': [50], 'RETIRED': [1]})

In [17]:
import sqlite3

In [18]:
### BEGIN SOLUTION

# Establish the connection
con = sqlite3.connect('data/SportsDB/SportsDB.db')

In [25]:
# 1. Strongest Player
pd.read_sql("SELECT * FROM players ORDER BY STRENGTH DESC LIMIT 1", con=con)

,ID,NAME,DOB,NATIONALITY,POSITION,SPEED,STRENGTH,RETIRED
0,5,Manu Ginobili,28-07-1977,ARG,SG/SF,92,80,1

In [26]:
# 1. Fastest Player
pd.read_sql("SELECT * FROM players ORDER BY SPEED DESC LIMIT 1", con=con)

,ID,NAME,DOB,NATIONALITY,POSITION,SPEED,STRENGTH,RETIRED
0,5,Manu Ginobili,28-07-1977,ARG,SG/SF,92,80,1

In [28]:
# 2. retired players outside USA
pd.read_sql("SELECT * FROM players WHERE RETIRED = 1 and NATIONALITY != 'USA'", con=con)

,ID,NAME,DOB,NATIONALITY,POSITION,SPEED,STRENGTH,RETIRED
0,4,Dirk Nowitzki,19-06-1978,DEU,PF/C,65,82,1
1,5,Manu Ginobili,28-07-1977,ARG,SG/SF,92,80,1

In [29]:
# 3. average speed and strength
pd.read_sql("SELECT AVG(SPEED), AVG(STRENGTH) FROM players", con=con)

   AVG(SPEED)  AVG(STRENGTH)
0        78.6           86.8

In [31]:
# 4. max speed per RETIRED status
pd.read_sql("SELECT RETIRED, MAX(SPEED) FROM players GROUP BY RETIRED", con=con)

   RETIRED  MAX(SPEED)
0        0          90
1        1          92

In [35]:
# 5. add new_players dataframe
new_players.to_sql('players', con=con, if_exists='append', index=False)

1

In [36]:
# get results
pd.read_sql("SELECT * FROM players", con=con)

,ID,NAME,DOB,NATIONALITY,POSITION,SPEED,STRENGTH,RETIRED
0,1,Nikola Jokic,19-02-1995,SRB,C,63,93,0
1,2,Bruce Bowen,14-06-1971,USA,SF/SG,83,85,1
2,3,Giannis Antetokounmpo,06-12-1994,GRC,PF/C,90,94,0
3,4,Dirk Nowitzki,19-06-1978,DEU,PF/C,65,82,1
4,5,Manu Ginobili,28-07-1977,ARG,SG/SF,92,80,1
5,6,Tony Parker,17-05-1982,FRA,PG,99,50,1

## Session 3 - Data Pre-processing

Based on our SportsDB database, calculate the following new columns:
- Split the NAME column into FIRST_NAME and LAST_NAME columns
- Calculate a boolean column if a player plays in multiple positions (e.g. C is False, but SF/SG is True)
- Calculate a PHYSICAL STATS column that sums SPEED and STRENGTH
- Bonus: Calculate each player's age

In [37]:
### BEGIN SOLUTION

df = pd.read_sql("SELECT * FROM players", con=con)

In [48]:
def preprocess_data(df: pd.DataFrame):
    
    # 1. Split NAME into FIRST_NAME, LAST_NAME
    df[['FIRST_NAME', 'LAST_NAME']] = df['NAME'].str.split(' ', expand=True)

    # 2. Boolean if player plays multiple positions
    df['VERSATILE'] = df['POSITION'].str.contains('/')

    # 3. Sum of physical stats
    df['PHYSICAL STATS'] = df['STRENGTH'] + df['SPEED']

    # 4. Bonus. Calculate each players age
    df['DOB'] = pd.to_datetime(df['DOB'], format='%d-%M-%Y')
    df['AGE'] = ((pd.Timestamp.now() - df['DOB']).dt.days / 365).astype(int)
    
    return df

In [49]:
preprocess_data(df)

,ID,NAME,DOB,NATIONALITY,POSITION,SPEED,STRENGTH,RETIRED,FIRST_NAME,LAST_NAME,VERSATILE,PHYSICAL STATS,AGE
0,1,Nikola Jokic,1995-01-19 00:02:00,SRB,C,63,93,0,Nikola,Jokic,False,156,27
1,2,Bruce Bowen,1971-01-14 00:06:00,USA,SF/SG,83,85,1,Bruce,Bowen,True,168,51
2,3,Giannis Antetokounmpo,1994-01-06 00:12:00,GRC,PF/C,90,94,0,Giannis,Antetokounmpo,True,184,28
3,4,Dirk Nowitzki,1978-01-19 00:06:00,DEU,PF/C,65,82,1,Dirk,Nowitzki,True,147,44
4,5,Manu Ginobili,1977-01-28 00:07:00,ARG,SG/SF,92,80,1,Manu,Ginobili,True,172,45
5,6,Tony Parker,1982-01-17 00:05:00,FRA,PG,99,50,1,Tony,Parker,False,149,40